   :root {
      --red: #fe0002;
      --selue: #0001fc;
      --jasmine: #ffd987;
      --darkred: #6a0400;
  }
  
  .red {
      color: var(--red);
  }
  
  .blue {
      color: var(--blue);
  }
  
  .jasmine {
      color: var(--jasmine);
  }
  
  .darkred {
      color: var(--darkred);
  }
  
  @font-face {
    font-family: Gotham-regular;
    src: url(/font/GothaProReg.otf);
}
  
@font-face {
    font-family: Gotham-medium;
    src: url(/font/GothaProMed.otf);
}
  
@font-face {
    font-family: Gotham-light;
    src: url(/font/GothaProLig.otf);
}
  
@font-face {
    font-family: Gotham-bold;
    src: url(/font/GothaProBol.otf);
}
  
@font-face {
    font-family: Mario-font;
    src: url(/font/SuperMario256.ttf);
}

/* style navigation-jumbotron */

.logo:hover {
    transform: scale(1.2);
    transition-duration: 400ms;
}

.banner {
    background: url(/img/background.png);
    padding-top: 7%;
}

.video-frame {
    background-image: url(/img/ipad.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 50px;
    left: 40px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 13px;

}

.button-intro-1 {
    width: 45%;
    min-width: 200px;
    height: 90%;
    position: relative;
    top: -160%;
    left: 5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    font: 25px Mario-font;
}

.button-intro-1:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition-duration: 400ms;
}

.button-intro-2:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition-duration: 400ms;
}

.button-intro-2 {
    width: 45%;
    min-width: 200px;
    height: 90%;
    position: relative;
    top: -250%;
    right: -50%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    font: 25px Mario-font;
}

.nav-items:hover {
    transform: scale(1.3);
    transition-duration: 400ms ;

}

/* end style navigation-jumbotron */
  
  #text {
      background-color: #232323;
      color: #fff;
      font-family: Calibri, sans-serif;
  }
  /* dannial */
  
  .hero-image {
      background-image: url(/img/rainbow.jpg);
      height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      margin-bottom: 1%;
      margin-top: 1%;
      opacity: 25%;
  }
  
  .hero-text {
      text-align: center;
      position: relative;
      top: 300px;
      max-width: 1000px;
      margin: 0 auto;
      /* transform: translate(-50%, -50%); */
      color: white;
  }
  
  .second-image {
      height: 500px;
      width: fit-content;
      object-fit: cover;
      position: center;
      position: absolute;
  }
  
  .background-section {
      background-image: url(/img/Black.jpg);
      opacity: .96;
  }
  
  .boost-card {
      border: none;
      background-color: #F5F7EA;
      text-align: center;
      padding: 10px;
      margin: 20px;
  }
  
  .background {
      background-image: url(/img/background-features.png);
      height: 1000px;
      ;
  }
  
  .img-sizing {
      max-width: 268px;
      max-height: 266px;
      min-height: 260px;
  }
  
  .card {
      display: flex;
      align-items: center;
      flex-direction: column;
      max-height: 700px;
      height: 100%;
      margin: 5rem;
  }
  
  h5 {
      color: #0675FF;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 26px;
  }
  
  
  .tip-secion-title {
      text-align: center;
  }


  /* Jurgis*/

  #featuresContainer {
    display: block;
    text-align: left;
    background-image: url(img/background-features.png);
  }
  
  #titleContainer {
    display: flex;
    flex-direction: row;
    width: 50%;
  }
  
  #cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .titleMain {
    background-color: #3f88c5;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: right;
  }
  
  .titleComment {
    background-color: #cbe8ef;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: grey;
    flex-wrap: wrap;
  }
  
  .boost-card {
    margin: 50px 10px;
    text-align: center;
    align-items: center;
    border: 3px solid #3f88c5;
    background-color: white;
  }
  
  .boost-card:hover {
    box-shadow: 0 16px 32px 0 #3f88c5;
    background-color: #3f88c5;
    border: 3px solid lightgrey;
    cursor: pointer;
  }
  
  .col-xl-3 > .boost-card {
    min-height: 420px;
  }
  
  .boost-card-img {
    padding: 10px;
    max-height: 215px;
    max-width: 215px;
  }
  .col-xl-3 > .shell > img {
    min-height: 215px;
  }
  
  .cardName {
    padding: 10px;
    background-color: white;
    color: white;
  }
  
  .cardName > h5 > a {
    color: #3f88c5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 500;
  }
  
  .cardName > p {
    font-size: 16px;
    color: grey;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  

  /* Phong'CSS*/
  .btn-info,
.btn-info:hover,
.btn-info:focus{
  color: #FFF !important;
  background-color: #00bbff !important;
  border-color: #00bbff !important;
}

.btn-info{
  opacity: .8;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}
.btn-info:hover,
.btn-info:focus{
  opacity: 1;
}

.team {
  background-image: url(/img/background-aboutus.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.background-about {
  max-width: 100%;
  padding: 0;
  margin: 0%;
}

.team > .about {
  margin-top: 5%;
  padding: 0;
}

.mario {
  display: flex;
  align-items: center;
  padding-left: 3%;
}

.flying-mario {
  max-width: 60%;
  height: auto;
}

.member {
  width: 80%;
}

.title-about > h4 {
  font: 45px Mario-font;
  color: #F5F7EA;
}

.line-3 {
  border-top: 4px solid #F5F7EA;
  margin-top: 2%;
  margin-left: 30%;
  margin-right: 30%;
}

footer {
  background: url(/img/img-footer.png);
}

footer > .end > .logo-2 {
  width: 100px;
  margin-top: 3%;
  margin-bottom: 3%;
}

footer > .end > p {
  font: 25px Gotham-regular;
  color: #F5F7EA;
}

.end > .socialmedia > .social-links {
  font-size: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
}

.line-4 {
  border-top: 2px solid #F5F7EA;
  width: 100%;
}

.copyright > p {
  margin-bottom: 0;
  font: 15px Gotham-regular;
  color: #F5F7EA;
  text-align: right;
  padding-top: 2%;
  padding-bottom: 2%;
}
