:root {
    --red: #FE0002;
    --blue: #0001FC;
    --jasmine: #FFD987;
    --darkred: #6A0400;
}

.red {
    color: var(--red);
}

.blue {
    color: var(--blue)
}

.jasmine {
    color: var(--jasmine)
}

.darkred {
    color: var(--darkred)
}

.body {
    background-color: transparent;
}
/* Danny's CSS  */

body {
    background-image: url("background.jpg");
    opacity: .96;
    
  }
  .typewrite {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.hero-image {
    background-image: url("rainbow.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 1%;
    margin-top: 1%;
    opacity: 25%;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .second-image {
    height: 500px;
    width: fit-content;
    object-fit: cover;
    position: center;
    position: absolute;  
  }
